* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a40;
    color: white;
    line-height: 1.6;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 2px;
}

header h1, header h2 {
    margin: 10px;
    color: #fff;
}

header h1 {
    text-decoration: underline;
}

header h2 {
    margin-bottom: 50px;
}

.layout-selection {
    margin-top: 20px;
}

.resume-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap; /* Added to handle wrapping on small screens */
}

.resume-card {
    background-color: #6d6dc4;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(45% - 45px); /* Adjust width for responsiveness */
    text-align: center;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.7s;
    box-shadow: 2px 2px 2px 2px #ddd;
    font-size: 23px;
    font-weight: 700;
}

.resume-card:hover {
    transform: scale(1.06);
}

.resume-card h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.resume-card img {
    width: 100%;
}

.resume-card p {
    margin-top: 10px;
    font-size: 22px;
}

footer {
    margin-top: 50px;
}

footer a {
    color: #ddd;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

footer a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .resume-card {
        width: calc(100% - 20px); /* Full width with margin */
    }

    header h1, header h2 {
        font-size: 1.5em;
    }

    .resume-card p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header h1, header h2 {
        font-size: 1.2em;
    }

    .resume-card p {
        font-size: 16px;
    }
}
